<h1>Boardom Busters</h1>

<div class="selector">
  <li><a href="/show-all-books"><img src"./images/solo" alt="solo"></a></li>
  <li><a href="/group-size"><img src"./images/group" alt="group"></a></li>
</div>