{{> boardGamesNav}}

<h2>board games:</h2>

<ul class="cards">
  {{#each game}}
  <li class="card">
    <div class="game">
      <span class="title">{{name}}</span>
      <p class="difficulty">{{difficulty}}</p>
      <p class="data">{{description}}</p>
      {{!-- <a href="/books/{{id}}/edit">edit book</a> --}}
    </div>
  </li>
  {{/each}}
</ul>