{{> moviesNav}}

<h2>movies:</h2>

<ul class="cards">
  {{#each movie}}
  <li class="card">
    <div class="movie">
      <span class="title">{{name}}</span>
      <h3 class="director">{{director}}</h3>
      <p class="data">{{description}}</p>
      {{!-- <a href="/books/{{id}}/edit">edit book</a> --}}
    </div>
  </li>
  {{/each}}
</ul>