<!-- {{> moviesNav}} -->

<h2>{{name}}</h2>

<ul class="cards">
  <li class="card">
    <div class="movie">
      <span class="title">{{name}}</span>
      <h3 class="director">{{director}}</h3>
      <a href='/show-movie/{{id}}'>MORE DETAILS</a>
    </div>
  </li>
</ul>