<h1>Boardom Busters</h1>

<div class="selector">
  <li><a href="/show-all-games"><img src"./images/smallGroup" alt="small group"></a></li>
  <li><a href="/show-all-movies"><img src"./images/group" alt="large group"></a></li>
</div>